:root{
    --neutral-color:#262626;
--brand-color: #25A59E;
--neutal-color:#F2F2F2;
--white-color:#FFFFFF;
--orange-color:#EE8F39;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Gilda Display', 'Urbanist';
}
.header{
    width: 375px;
    height: 473px;
    top: -3px;
    gap: 0px;
    opacity: 0px;
     
}
.nav{
    width: Fixed (375px)px;
height: Fixed (60px)px;
padding: 16px 20px 16px 20px;
gap: 0px;
justify-content: space-between;
opacity: 0px;
display: flex;
}
.logo{
    width: 52px;
height: 19px;
gap: 0px;
border: 0.7px 0px 0px 0px;
opacity: 0px;
font-family: Gilda Display;
font-size: 16px;
font-weight: 500px;
line-height: 18.83px;
letter-spacing: 0.1em;
text-align: left;
color: #25A59E;
}
.logo-menu{
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}
.travel-header{
    width: 327px;
    height: 122px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilda Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 61.2px;
    text-align: center;
     
}
.travel-h{
    color: #25A59E;
}
.img-container{
    
}
       
 





























































































.more-details-btn{
    cursor: pointer;
display: flex;
font-size: 15px;
font-weight: 400;
line-height: 23px;
color: #25A59E;
  align-items: center;
  
}
.arrow-img{
    margin-left: 10px;
    gap: 0px;
    opacity: 0px;
     color:#25A59E ;

}
.subsection-3{
    width:  (335px)px;
    height: (254px)px;
    padding: 28px 20px 32px 20px;
    gap: 40px;
    opacity: 0px;
    background: #25A59E;
   
    
}
.drop-shadow{
    box-shadow: 10px 26px 150px 0px #4343641A;
  
}
.always-heading{
    width: 295px;
    height: 80px;
    gap: 0px;
    border: 0.4px 0px 0px 0px;
    opacity: 0px;
font-size: 28px;
font-weight: 400;
line-height: 40px;
text-align: left;
color: #FFFFFF;
}
