.h1{
    font-size: 52px;
    height: 19;
    border: 0.7px solid #000;
}
.h2{
    width: 327px;
    height: 122px;
    font-family: gilda display;
    font-weight: 400;
    size: 52px;
    line-height: 61.2px;
    align-content: center;
    color: #25A59E;
}



